.inline{
  display: flex;
  position: relative;
  min-height: 200px;
  margin-bottom: 25px;
}

.description_container{
  width: 20%;
  min-width: 250px;
  text-align: start;
  padding: 10px;
}
.slider_container{
  height: 100%;
  position: relative;
}
.border-green{
  border: 1px solid green;
}
.border-red{
  border: 1px solid red;
}
.slider_outer{
  position: relative;
  width: 33%;
  overflow: hidden;
}
.for_image{
  width: 100%;
}
.slider_img{
  height: 100%;
}
